.items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
}

.items > *{
  min-width: 20rem;
  max-width: 30rem;
}

img {
  border-radius: 1rem;
  flex: 1 0;
  object-fit: cover;
  height: 35rem;
  margin: 1rem;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  border: 1rem;
  padding: 2rem;
  color: black;
  margin-left: 1rem;
}

.details .edit {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'empty Edit';
}

.edit-text {
  grid-area: Edit;
  margin-bottom: 0.5rem;
  border: 1rem;
  color: black;
  font-size: 1.5rem;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'name nameEdit';
}


.name input {
  grid-area: nameEdit;
  background: lightgrey;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: none;
}

.price {
  font-size: 1.8rem;
  margin: 2rem 0rem 2rem 0;
  display: grid;
  grid-template-columns: 20% 30% 50%;
  grid-template-areas: 'priceTag price editPrice';
  color: green;
}

.price::before {
  grid-area: priceTag;
  content: "Preis: ";
  color: darkgrey;
}

.price input {
  grid-area: editPrice;
  background: lightgrey;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: none;
}

.quantity {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 30% 20% 50%;
  grid-template-areas: 'quantityTag quantity editQuantity';
}

.quantity input {
  grid-area: editQuantity;
  background: lightgrey;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: none;
}

.quantity::before {
  grid-area: quantityTag;
  content: "Verfügbar: ";
  color: darkgrey;
}

.add-to-cart button {
  width: 100%;
  margin-top: 1rem;
  color: white;
  background: #2ba5c4;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  outline: none;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.comment-text {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 10rem;
}

.comments {
  display: flex;
  justify-content: center;
}

textarea {
  width: 50rem;
  height: 30rem;
  margin-bottom: 5rem;
  margin-left: 10rem;
}

.delete-item button {
  width: 100%;
  margin-top: 1rem;
  color: white;
  background: #ED2B2A;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  outline: none;
}

.comments {
  margin-top: 5rem;
}
