<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Ausgabe der Daten -->
<div class="items">
  <img [src]="items.imageUrl" [alt]="items.name"/>
  <div class="details">
      <span class="name">
        {{items.name}}
      </span>
      <div class="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
      </div>
      <div class="price">
        {{items.price | currency:"EUR"}}
      </div>
      <div class="quantity">
        {{items.quantity}}
    <div class="id">
        {{items.id}}
    </div>
    <button (click)="addToCart()">Zum Einkaufswagen Hinzufügen</button>
    </div>
  </div>
</div>
