<app-not-found
  [visible]="!items"
  notFoundMessage="Artikel nicht gefunden"
  resetLinkText="Jetzt Einkaufen"
  resetLinkRoute="/our-products"
></app-not-found>
<!-- Ausgabe der Daten -->
<div *ngIf="items" class="items">
  <img [src]="items.imageUrl" [alt]="items.name"/>
  <div class="details">
    <div *ngIf="isAdmin" class="edit">
      <span class="edit-text">Editieren:</span>
  </div>
      <span class="name">
        {{items.name}}
        <input *ngIf="isAdmin" type="text" [value]="items.name" [id]="items.id + '-name'">
      </span>
      <div class="rating">
        <star-rating [stars]="items.rating"></star-rating>
      </div>
      <div class="price">
        {{items.price | currency:"EUR"}}
        <input *ngIf="isAdmin" type="number" [value]="items.price" [id]="items.id + '-price'">
      </div>
      <div class="quantity">
        {{items.quantity}}
        <input *ngIf="isAdmin" type="number" [value]="items.quantity" [id]="items.id + '-quantity'">
      </div>
    <div class="add-to-cart">
    <button (click)="addToCart()">Zum Einkaufswagen Hinzufügen</button>
    <div class="delete-item" *ngIf="isAdmin">
      <button (click)="deleteItem(items.name)">Produkt löschen</button>
    </div>
    <button *ngIf="isAdmin" (click)="editItem(items.id)">Update</button>
    </div>
  </div>
</div>
<app-comment *ngIf="isAuth"></app-comment>
<app-comments class="comments"></app-comments>
