<div *ngIf="isAdmin">
<!-- Sucheleiste -->
<app-current-page title="Nutzer Suche" margin="1.5rem 0 0 2.5rem"></app-current-page>
<div class="search-button">
  <input #s type="text" placeholder="Suche..." (keyup.enter)="search(s.value)" [value]="searchTerm"/>
  <button (click)="search(s.value)">Suche</button>
</div>
<!-- Nutzer erstellen -->

<div class="create-user">
  <a style="text-decoration: none; color: inherit;" routerLink="/admin-page/create-user">
  <span>+ Nutzer erstellen</span>
</a>
</div>
<!-- Ausgabe der Daten -->
<app-not-found
  [visible]="!user || !user.length"
  resetLinkText="Hier gibt es nichts zu sehen...">
</app-not-found>
<ul>
  <li *ngFor="let users of user">
    <a style="text-decoration: none; color: inherit;" routerLink="/admin-page/user-search/{{users.name}}">
      <div class="content">
        <div class="name">
          {{users.name}}
        </div>
        <div class="email">
          {{users.email}}
        </div>
        <div class="address">
          {{users.address}}
        </div>
        <div class="admin">
          {{users.isAdmin}}
        </div>
      </div>
    </a>
    <button class="delete-button" (click)="deleteUser(users.name)">Nutzer Löschen</button>
  </li>
</ul>
</div>
