div {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

input {
  border-radius: 1rem 0 0 1rem;
  border: none;
  height: 3rem;
  width: 30rem;
  background-color: #f1f1f1;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}

div button {
  color: grey;
  height: 3rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
  background-color: #2ba5c4;
  color: white;
  opacity: 0.8;
  outline: none;
}

div button:hover {
  opacity: 1;
  cursor: pointer;
}
