<!-- Navigationv -->
<nav>
  <div class="index">
  <a style="text-decoration: none; color: inherit;" routerLink="/our-products">OUR PRODUCTS</a>
  <a style="text-decoration: none; color: inherit;" routerLink="/discover">DISCOVER</a>
  <a style="text-decoration: none; color: inherit;" routerLink="/earn-rewards">EARN REWARDS</a>
</div>
  <!-- Logo -->
  <a routerLink="/home">
  <img class="logo" src="assets/img/logo.png" >
</a>
<div class="icon">
   <!-- Icons -->
   <a style="text-decoration: none; color: inherit;" routerLink="/login">
  <i class="bi bi-person-circle">{{user.name}}</i>
  <div *ngIf="isAuth" class="menu">
    <a (click)="logout()">Logout</a>
  </div>
  </a>
  <a style="text-decoration: none; color: inherit;" routerLink="/search">
  <i class="bi bi-search"></i>
  </a>
  <a style="text-decoration: none; color: inherit;" routerLink="/cart">
  <i class="bi bi-bag"><span *ngIf="cartQuantity">{{cartQuantity}}</span></i>
</a>
</div>
</nav>
