/* mobile / tablet */
@media only screen and (max-width: 1149px) {

  .mobile-menu{
    margin: 0.5rem;
    z-index:1;
    width: 100%;
  }

  .mobile-menu-collapsed{
    background:rgba(255, 255, 255, 0.7);
  }

  .mobile-header-icon-container{
    text-align: center;
  }
  .mobile-header-icon{
    height: 5rem;
    text-align: center;
  }

  .desktop-menu{
    display: none;
  }

  .btn-mobile-menu{
    border-color: lightgray;
    border-radius: 0.5rem;
    width: 5rem;
    height: 5rem;
  }

  .mobile-menu-item{
    color: black;
  }

  a span {
    background: #ED2B2A;
    color: white;
    padding: 0.1rem 0.7rem;
    border-radius:  100rem;
    font-size: 1rem;
  }

}

/* desktop*/
@media only screen and (min-width: 1150px) {

  .mobile-menu{
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .index {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 30px;
    margin: 1.7rem 5rem 2rem 5rem;
  }

  img {
    height: 5rem;
  }

  .icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    margin: 0rem 3rem 0rem 0rem;
  }

  a {
    color: black;
  }

  a:hover {
    background: lightgrey;
    color: black;
    cursor: pointer;
  }

  a.logo:hover {
    background: none;
    cursor: pointer;
  }

  ul{
    display: flex;
    list-style-type: none;
  }

  ul a {
    padding: 1rem;
    display: inline-block;
  }

  a span {
    background: #ED2B2A;
    color: white;
    padding: 0.1rem 0.7rem;
    border-radius:  100rem;
    font-size: 1rem;
  }

  .menu-container{
    position: relative;
  }

  .menu{
    position:absolute;
    z-index:1;
    background:whitesmoke;
    display: none;
  }

  .menu-container:hover .menu {
    display: block;
  }

  .bi {
    font-size: 1.3rem;
  }


}
