<nav class="desktop-menu">
  <div class="index">
    <a style="text-decoration: none; color: inherit;" routerLink="/our-products">OUR PRODUCTS</a>
    <a style="text-decoration: none; color: inherit;" routerLink="/sales">SALES</a>
  </div>
  <a class="logo" routerLink="/home">
    <img class="header-icon" src="assets/img/logo.png">
  </a>
  <div class="icon">
    <ul>
      <li class="menu-container">
          <a style="text-decoration: none; color: inherit;">
            <i class="bi bi-person-circle" style="font-style: normal;">{{user.name}}</i>
          </a>
          <div class="menu">
            <div *ngIf="!isAuth">
              <a style="text-decoration: none; color: inherit;" routerLink="/login">Login</a>
              <a style="text-decoration: none; color: inherit;" routerLink="/register">Registrieren</a>
            </div>
            <div *ngIf="isAuth">
              <a style="text-decoration: none; color: inherit;" routerLink="/profile">Profil</a>
              <a (click)="logout()">Logout</a>
            </div>
            <div *ngIf="isAdmin">
              <a style="text-decoration: none; color: inherit;" routerLink="/admin-page">Admin-Seite</a>
            </div>
          </div>
      </li>
      <li>
        <a style="text-decoration: none; color: inherit;" routerLink="/search">
          <i class="bi bi-search"></i>
        </a>
        <a style="text-decoration: none; color: inherit;" routerLink="/cart">
          <i class="bi bi-bag" style="font-style: normal;"><span *ngIf="cartQuantity">{{cartQuantity}}</span></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="mobile-menu"  [ngClass]="{'mobile-menu-collapsed': menuCollapsed}">
  <div class="d-flex w-100">
    <button class="btn btn-mobile-menu" type="button" (click)="toggleMenu()">
      <i class="bi bi-list"></i>
    </button>
    <div class="mobile-header-icon-container w-100" [ngClass]="{'d-none': menuCollapsed}">
      <a class="logo" routerLink="/home">
        <img class="mobile-header-icon" src="assets/img/logo.png">
      </a>
    </div>
  </div>
  <div *ngIf="menuCollapsed" class="mobile-menu-content" >
    <ul>
      <li class="mobile-menu-item">
        <a style="text-decoration: none; color: inherit;" routerLink="/home">Home</a>
      </li>
      <li class="mobile-menu-item">
        <a style="text-decoration: none; color: inherit;" routerLink="/our-products">Our Products</a>
      </li>
      <li class="mobile-menu-item">
        <a style="text-decoration: none; color: inherit;" routerLink="/sales">Sales</a>
      </li>
      <li *ngIf="isAuth" class="mobile-menu-item">
        <a style="text-decoration: none; color: inherit;" routerLink="/profile">Profil</a>
      </li>
      <li class="mobile-menu-item">
        <a style="text-decoration: none; color: inherit;" routerLink="/search">Suche</a>
      </li>
      <li *ngIf="!isAuth" class="mobile-menu-item">
        <a style="text-decoration: none; color: inherit;" routerLink="/login">Login</a>
      </li>
      <li *ngIf="!isAuth" class="mobile-menu-item">
        <a style="text-decoration: none; color: inherit;" routerLink="/register">Registrieren</a>
      </li>
      <li *ngIf="isAdmin" class="mobile-menu-item">
        <a style="text-decoration: none; color: inherit;" routerLink="/admin-page">Admin-Seite</a>
      </li>
      <li *ngIf="isAuth" class="mobile-menu-item">
        <a (click)="logout()">Logout</a>
      </li>
      <li class="mobile-menu-item">
        <a style="text-decoration: none; color: inherit;" routerLink="/cart">Einkaufswagen<span *ngIf="cartQuantity">{{cartQuantity}}</span></a>
      </li>
    </ul>
  </div>
  <br>
</div>

