
nav {
  display: grid;
  margin-left: 50px;
  margin-right: 100px;
  grid-template-columns: 40% 20% 40%;
  grid-template-areas: "index logo icons";
  justify-content: center;
}

.bi {
  font-size: 1.5rem;
  margin-right: 40px;
}

.index {
  grid-area: index;
  flex-grow: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.icon {
  grid-area: icons;
  flex-grow: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

.logo {
  grid-area: logo;
  width: 100%;
  margin-top: 10px;
}

.index a {
  margin-right: 40px;
}

.btn {
  background-color: white;
}
