<!-- Navigationv -->
<nav>
  <div class="index">
  <a style="text-decoration: none; color: inherit;" routerLink="/our-products">OUR PRODUCTS</a>
  <a style="text-decoration: none; color: inherit;" routerLink="/discover">DISCOVER</a>
  <a style="text-decoration: none; color: inherit;" routerLink="/earn-rewards">EARN REWARDS</a>
</div>
  <!-- Logo -->
  <img class="logo" src="assets/img/logo.png" (click)="logoClicked()">
<div class="icon">
   <!-- Icons -->
  <i class="bi bi-person-circle"></i>
  <i class="bi bi-search"></i>
  <i class="bi bi-bag"></i>
</div>
</nav>
