.content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
}

.name {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 1rem 1rem 0rem 1rem;
}

.name::before {
  content: "Name: ";
  color: darkgrey;
}

.comment {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 0rem 1rem 0rem 1rem;
}

.comment::before {
  content: "Kommentar: ";
  color: darkgrey;
}

.content{
  width: 500px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 10px;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center ;
}
