<app-current-page title="Our Products" margin="1.5rem 0 0 2.5rem"></app-current-page>
<app-not-found
  [visible]="!items || !items.length"
  resetLinkText="Hier gibt es nichts zu sehen..."
></app-not-found>
<ul>
  <li *ngFor="let item of items">
    <a style="text-decoration: none; color: inherit;" routerLink="/items/{{item.id}}">
      <img [src]="item.imageUrl" [alt]="item.name">
      <div class="content">
        <div class="name">
          {{item.name}}
        </div>
        <div class="rating">
          <star-rating [stars]="item.rating"></star-rating>
        </div>
        <div class="product-item-footer">
        </div>
        <div class="price">
          <span>
            {{item.price | currency:"EUR"}}
          </span>
        </div>
        <div class="quantity">
            {{item.quantity}}
        </div>
      </div>
    </a>
  </li>
</ul>
