ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li a{
  height: 30rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: red;
}

li a:hover{
  opacity: 0.9;
  cursor: pointer;
}

li a img {
  object-fit: cover;
  height: 20rem;
}

.content {
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 2rem;
}

.product-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

