<app-current-page title="Cart Page" margin="1.5rem 0 0 2.5rem"></app-current-page>
<app-not-found
[visible]="!cart || !cart.items.length"
notFoundMessage="Dein Einkaufswagen ist Leer."
resetLinkText="Jetzt einkaufen"
resetLinkRoute="/our-products"
></app-not-found>
<div *ngIf="cart && cart.items.length" class="cart">
  <ul>
    <li *ngFor="let cartItem of cart.items">
      <div>
        <img [src]="cartItem.item.imageUrl" [alt]="cartItem.item.name">
      </div>
      <div>
        <a routerLink="/items/{{cartItem.item.id}}">{{cartItem.item.name}}</a>
      </div>
      <div>
        <select #quantitySelect
        [value]="cartItem.quantity"
        (change)="changeQuantity(cartItem, quantitySelect.value)">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      </div>
      <div>
        {{cartItem.price | currency:'EUR'}}
      </div>
      <div>
        <button class="remove" (click)="removeFromCart(cartItem)">
          Entfernen
        </button>
      </div>
    </li>
  </ul>
  <div class="sum">
    <div class="item-quantity">
      {{cart.countSum}}
    </div>
    <div class="total-price">
      {{cart.totalPrice | currency:'EUR'}}
    </div>
  </div>
</div>
