.add-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.details {
  width: 25rem;
}

button {
  width: 100%;
  margin-top: 1rem;
  color: white;
  background: #2ba5c4;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  outline: none;
}
