<div class="add-item">
  <div class="details">
    <app-current-page title="Artikel Hinzufügen"></app-current-page>
      <form [formGroup]="itemForm" (ngSubmit)="submit()">
      <text-input [control]="fc.imageUrl" [showErrorsWhen]="isSubmitted" label="Bild-Url"></text-input>

      <form [formGroup]="itemForm" (ngSubmit)="submit()"></form>
      <text-input [control]="fc.name" [showErrorsWhen]="isSubmitted" label="Produktname"></text-input>

      <form [formGroup]="itemForm" (ngSubmit)="submit()"></form>
      <text-input [control]="fc.price" [showErrorsWhen]="isSubmitted" label="Preis"></text-input>

      <form [formGroup]="itemForm" (ngSubmit)="submit()"></form>
      <text-input [control]="fc.quantity" [showErrorsWhen]="isSubmitted" label="Anzahl"></text-input>

      <default-button text="Artikel Hinzufügen"></default-button>
      </form>
  </div>
</div>
<app-our-products></app-our-products>
